.inputs-container {
  display: flex;
  position: absolute;
  top: 16%;
  gap: 2rem;
  left: 30%;
  width: 67%;
  flex-direction: column;
}
.inputs-container > .admin-input {
  text-indent: 8px;
  outline: none;
  height: 40px;
}
textarea {
  outline: none;
  height: 300px;
  text-indent: 8px;
  padding: 3px;
}
.btn-uploading {
  outline: none;
  border: none;
}
.btnPostnow {
  background-color: rgb(4, 59, 4);
  border: none;
  color: antiquewhite;
  padding: 5px;
  border-radius: 3px;
  width: 30%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.checkbtn {
  display: flex;
  gap: 1rem;
  margin-bottom: 30px;
}
