.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-content: center;
    align-items: center;
    background-color:  #CAE3DF;
    width: 98%;
    margin: 5px auto;
    border-radius: 66px;
}
.InfocusLogo{
    margin-top: 8px;
}
.headerContainer > img{
    height: 50px;
}
.AvatarAdmin > span{
  margin-right: 40px;
}
.headerWtext{
    opacity: 50%;
    font-size: 0.8em;
}